<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.johnsondatadev.battery_monitor</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/yimjohns/Documents/Dev/Python/macbook_battery_tracker/venv/bin/activate</string>
            <string>&amp;</string>
            <string>/Users/yimjohns/opt/anaconda3/bin/python3</string>
            <string>/Users/yimjohns/Documents/Dev/Python/macbook_battery_tracker/venv/bin/python</string>
            <string>/Users/yimjohns/Documents/Dev/Python/macbook_battery_tracker/schedules/execute_script.py</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/Users/yimjohns/Documents/Dev/Python/macbook_battery_tracker/schedules/rundaily.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/yimjohns/Documents/Dev/Python/macbook_battery_tracker/schedules/rundaily.log</string>
        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>2</integer>
                <key>Minute</key>
                <integer>00</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>9</integer>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>12</integer>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>15</integer>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>19</integer>
                <key>Minute</key>
                <integer>51</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>22</integer>
                <key>Minute</key>
                <integer>00</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>0</integer>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
        </array>
    </dict>
</plist>1
